.main-wrapper {
  display: flex;
  padding-bottom: 5rem;
}
.main-wrapper a {
  color: var(--font-color);
  cursor: pointer;
}
.side-nav-container {
  background-color: var(--nav-bg);
  padding: 1rem;
  position: sticky;
  overscroll-behavior: contain;
  top: 4.5rem;
  width: 280px;
  height: 100vh;
  overflow-y: auto;
  display: block;
  flex-shrink: 0;
}
.main-content-wrapper {
  padding: 1rem;
  flex: 1 1 0%;
}
.components-list {
  padding: 0 1rem;
}
.components-list a {
  font-weight: normal;
}
.drawer {
  background-color: var(--bg-color);
}
.hamburger-menu-btn {
  align-self: center;
  color: var(--primary-color);
  margin-right: 0.5rem;

}

.drawer-close-btn {
  color: var(--primary-color);
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  cursor: pointer;
}
.components-list li {
  padding: 5px 0px;
}
.side-nav-item {
  padding: 5px 0px;
}
.card-primary-title,
.card-primary-subtitle,
.card-secondary-description,
.card-actions a, .modal-wrapper {
  color: black;
}
.card {
  background-color: white;
}
.example {
  padding: 1rem;
  border: 2px solid;
  border-color: var(--example-border);
  border-radius: 5px;
}


/*Mobile specific styles*/
@media only screen and (max-width: 768px) {
  .side-nav-container {
    display: none;
  }
  .horizontal-card-wrapper {
    margin-left: 0;
    margin-top: 1rem;
  }
}
