.inline-block {
  display: inline-block;
}
.block{
  display: block;
}
.flex {
  display: flex;
}
.hide {
  display: none;
}
.align-items-center {
  align-items: center;
}
.justify-around {
  justify-content: space-around;
}
.justify-between {
  justify-content: space-between;
}
.wrap {
  flex-wrap: wrap;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flx-1 {
  flex-grow: 1;
}
/*Flex directions*/
.column {
  flex-direction: column;
}
